@import '../../../../styles/index.scss';

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 5vw;

  h1 {
    font-family: get-font-name('primary', 'extrabold');
    font-size: large;
  }
}

@include set-breakpoint('x-small') {
  header {
    padding: 16px 4vw;
    h1 {
      font-size: small;
    }
  }
}
