@import '../../../styles/index.scss';

.details-section {
  display: flex;
  flex-direction: column;

  .btn {
    width: 110px;
  }

  &__country {
    padding-top: 60px;

    display: flex;
    align-items: flex-start;

    img {
      width: 38vw;
      height: 28vw;
    }

    & .country {
      &__main-data {
        padding-left: 10vw;

        h2 {
          margin-top: 40px;
          font-family: get-font-name('primary', 'extrabold');
        }
      }

      &__properties {
        min-height: 180px;
        padding-bottom: 50px;
        display: flex;
      
        div:first-child {
          padding-right: 50px;
        }

        p {
          margin: 0 0 5px 0;
          font-size: small;
        }

        span.text-bold {
          font-family: get-font-name('primary', 'bold2');
        }
      }

      &__borders {
        display: flex;

        span {
          white-space: pre;
          font-size: small;
          &.text-bold {
            font-family: get-font-name('primary', 'bold2');
          }
        }

        div {
          display: flex;
          align-items: baseline;
          flex-wrap: wrap;

          span {
            margin-right: 10px;
          }

          a {
            width: 70px;
            height: 15px;
            margin-right: 10px;
            margin-bottom: 5px;
            font-size: x-small;
          }
        }
      }
    }
  }

  @include set-breakpoint('medium') {
    &__country {
      padding-top: 30px;

      flex-direction: column;
      align-items: center;

      img {
        width: 50vw;
        height: auto;
      }
  
      & .country {
        &__main-data {
          padding-left: 0;
        }

        &__properties {
          min-height: 100px;
          padding-bottom: 30px;
        }

        &__borders {
          flex-direction: column;

          div {
            padding-top: 10px;
          }
        }
      }
    }
  }

  @include set-breakpoint('small') {
    &__country {
      padding-top: 30px;
      align-items: flex-start;

      img {
        width: 100%;
        height: auto;
      }
  
      & .country {
        &__properties {
          flex-direction: column;

          div:last-child {
            padding-top: 30px;
          }
        }
      }
    }
  }
}