/*
 * FONTS
 */

$font-small: 14px; 
$font-base: 16px;

$fonts: (
    'primary': (
        'light': 'NunitoSans-Light',
        'regular': 'NunitoSans-Regular',
        'semibold': 'NunitoSans-SemiBold',
        'bold2': 'NunitoSans-Bold',
        'extrabold': 'NunitoSans-ExtraBold',
    ),
    'callback': sans-serif
) !default;
